@import "./mixin";
dialog
	position fixed
	top 50%
	left 50%
	transform translate(-50%, -50%)
	padding h(20) w(20)
	max-width w(300)
	background-color transparentify(#000, .8)
	border-radius 4px
	text-align center
	font-size h(15)
	line-height h(22)
	color #fff
	&.hidden
		display none
	&.display
		display block