dialog
	position fixed
	top 50%
	left 50%
	transform translate(-50%, -50%)
	padding (2000vh/667) (2000vw/375)
	width (30000vw/375)
	background-color #def
	border-radius 4px
	text-align center
	font-size (1500vh/667)
	line-height (2200vh/667)
	&.hidden
		display none
	&.display
		display block