@import "./mixin"
main
	> header
		display flex
		height h(45)
		justify-content space-between
		align-items center
		background-color #fff
		border-bottom 1px solid #e3e3e3
		strong
			font-size h(17)