@import "./mixin";
main
	> header
		position relative
		display flex
		width w(375)
		height h(45)
		padding 0 w(5)
		justify-content space-between
		align-items center
		background-color #fff
		border-bottom 1px solid #e3e3e3
		strong
			position absolute
			left 50%
			transform translateX(-50%)
			max-width w(300)
			overflow hidden
			text-overflow ellipsis
			white-space nowrap
			font-size h(17)
		a
			margin-right w(15)
			font-size h(15)
			&.normal
				color #666
			&.blue
				color #639efe