@import "./reset"
@import "./icon"
@import "./mixin"
body
	background-color #f3f3f3
form
	display flex
	flex-direction column
	align-items center
	> label
		line-height (5000vh/667)
		font-size (1600vh/667)
		color #666
	&.home
		padding-top (30000vh/667)
		bg("/test.jpeg")
		background-repeat no-repeat
		background-position 50% (10000vh/667)
		.etc
			h3
				margin-top (8000vh/667)
				text-align center
				line-height 2
	&.behavior
		padding 0 (2000vw/375)
		section
			padding (1000vh/667) 0
			line-height (2200vh/667)
			font-size (1400vh/667)
			&:not(:last-of-type)
				border-bottom 1px solid #e3e3e3
a
	&.small
		font-size (1200vh/667)
div
	&.row
		padding (1000vh/667) (2000vw/375)
fieldset
	padding 0 (2000vw/375)
	width 100%
	border-width 1px 0
	border-color #e3e3e3;
input
	&[type="tel"]
	&[type="password"]
		height (5000vh/667)
		background-color #fff
		font-size (1500vh/667)
		letter-spacing (100vw/375)
	&.full
		padding 0 (2000vw/667)
		width 100%
		&:not(:last-of-type)
			border-bottom-color #e3e3e3
button
	font-size (1500vh/667)
	&.full
		width (33500vw/375)
		height (4000vh/667)
	&.below_input
		margin-top (2000vh/667)
button
.anchor
	&.bottom
		position fixed
		bottom 0
		width 100vw
		height (4000vh/667)
		border-radius 0
		text-align center
		line-height (4000vh/667)
		font-size (1500vh/667)
	&.blue
		background-color #06f
		color #fff