*
	margin 0
	padding 0
	box-sizing border-box
	line-height 1
	font-family "PingFangSC-Regular", "Microsoft YaHei"
a
	color inherit
	text-decoration none
	cursor pointer
h1
h2
h3
h4
h5
h6
strong
	font-weight normal
ul
ol
	list-style none
input[type="text"]
input[type="tel"]
input[type="password"]
input[type="file"]
textarea
select
button
	outline none
	color #333
	-webkit-appearance none
	background-color transparent
	border 1px solid transparent
textarea
	resize none
fieldset
	border-style solid
dialog
	border none