{
  "parser": "babel-eslint",
  "root": true,
  "env": {
      "browser": true,
      "node": true
  },
  "rules": {
    "accessor-pairs": 1,
    "array-callback-return": 2,
    "block-scoped-var": 1,
    "callback-return": 2,
    "class-methods-use-this": 0,
    "complexity": [1, 20],
    "default-case": 2,
    "for-direction": 2,
    "getter-return": [2, {
      "allowImplicit": true
    }],
    "indent": [2, "tab"],
    "no-alert": 2,
    "no-await-in-loop": 0,
    "no-caller": 2,
    "no-catch-shadow": 0,
    "no-compare-neg-zero": 2,
    "no-cond-assign": [0, "always"],
    "no-console": 0,
    "no-constant-condition": 2,
    "no-control-regex": 2,
    "no-debugger": 2,
    "no-delete-var": 2,
    "no-dupe-args": 2,
    "no-duplicate-case": 2,
    "no-dupe-keys": 2,
    "no-empty": 2,
    "no-empty-character-class": 2,
    "no-ex-assign": 2,
    "no-extra-boolean-cast": 2,
    "no-extra-parens": 2,
    "no-extra-semi": 2,
    "no-func-assign": 2,
    "no-inner-declarations": 2,
    "no-invalid-regexp": 2,
    "no-irregular-whitespace": 2,
    "no-iterator": 2,
    "no-labels": 2,
    "no-label-var": 2,
    "no-mixed-spaces-and-tabs": 2,
    "no-obj-calls": 2,
    "no-proto": 2,
    "no-prototype-builtins": 2,
    "no-regex-spaces": 2,
    "no-return-assign": 0,
    "no-return-await": 2,
    "no-script-url": 2,
    "no-sequences": 0,
    "no-shadow": 1,
    "no-sparse-arrays": 1,
    "no-sync": 2,
    "no-template-curly-in-string": 2,
    "no-throw-literal": 1,
    "no-unexpected-multiline": 2,
    "no-unreachable": 2,
    "no-unsafe-finally": 2,
    "no-unsafe-negation": 2,
    "no-useless-call": 2,
    "no-with": 2,
    "no-void": 2,
    "object-property-newline": 2,
    "one-var": [2, {
      "var": "always",
      "let": "always"
    }],
    "one-var-declaration-per-line": [2, "always"],
    "quotes": [2, "double"],
    "use-isnan": 2,
    "valid-jsdoc": 2,
    "valid-typeof": [2, {
      "requireStringLiterals": false
    }]
  }
}