@import "../../styles/mixin"
#app
	> header
		position fixed
		top 0
		display flex
		width w(375)
		height h(45)
		padding 0 w(5)
		justify-content space-between
		align-items center
		background-color #fff
		border-bottom 1px solid #e3e3e3
		&.hidden
			display none
		strong
			position absolute
			top 50%
			left 50%
			transform translate(-50%, -50%)
			max-width w(280)
			overflow-x hidden
			text-overflow ellipsis
			white-space nowrap
			font-size h(17)
		a
			margin-right w(15)
			font-size h(15)
			&.normal
				color #666
			&.blue
				color #639efe
		> icon
			margin-right w(10)